<%= simple_form_for([@fleet.opportunity, @fleet]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :vehicle_type %>
    <%= f.input :quantity %>
    <%= f.input :miles_per_year %>
    <%= f.input :name, label: 'Description' %>
    <%= f.input :pays_for_fuel, as: :radio_buttons, collection: [ "Company", "Driver"], selected: "Company" %>
    <%= f.input :pays_for_maintenance, as: :radio_buttons, collection: [ "Company", "Driver"] %>
      <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
          <%= f.input :conversion_cost %>
        <% end %>
      <% end %>
    <%= f.input :percent_propane %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
