<% content_for(:title) { "Vehicle Fleet" } %>

  <div class="hgroup">
    <h1>Fleet</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Fleet</li>
    </ul>
  </div>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Name</th>
      <th>Miles</th>
      <th>Lifetime miles</th>
      <th>Mileage</th>
      <th>Miles per year</th>
      <th>Maintenance per mile</th>
      <th>Pays for fuel</th>
      <th>Pays for maintenance</th>
      <th>Percent propane</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fleets.each do |fleet| %>
      <tr>
        <td><%= fleet.quantity %></td>
        <td><%= fleet.name %></td>
        <td><%= fleet.miles %></td>
        <td><%= fleet.lifetime_miles %></td>
        <td><%= fleet.mileage %></td>
        <td><%= fleet.miles_per_year %></td>
        <td><%= fleet.maintenance_per_mile %></td>
        <td><%= fleet.pays_for_fuel %></td>
        <td><%= fleet.pays_for_maintenance %></td>
        <td><%= fleet.percent_propane %></td>
        <td><%= link_to 'Show', [fleet.account, fleet], :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_account_fleet_path(fleet.account, fleet), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', [fleet.account, fleet], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 
<%= link_to 'New Vehicle Group', new_account_fleet_path %> 

