<% content_for(:title) { "clean, multipurpose Ruby-Ready HTML template" } %>
<% content_for(:body_class) { "collapsing_header" } %>

<% content_for(:post_header) do %>
    <div class="full_page_photo" style="background-image: url(<%= asset_path("propane_station.png") %>);">
      <div class="container">
        <section class="call_to_action">
          <h3 class="animated bounceInDown">For Clear Skies, <strong>integrity and honesty</strong> are nonnegotiable</h3>
          <h4 class="animated bounceInUp">Every action we take <strong>delivers a fair deal</strong> to our customers, <br />to our staff, and to the environment</h4>
        </section>
      </div>
    </div>
<% end %>

<section id="about_us">
  <div class="hgroup">
    <h1>About us</h1>

    <h2>Clear Skies was formed to <strong>overcome the barriers</strong> to fuel efficiency and lifecycle optimization for small and medium fleets. 
      </h2>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">About us</li>
    </ul>
  </div>
  <article>
    <div class="row">
      <div class="span8">
        <p>Clear Skies is the collaboration of two unique individuals. Steven Doll is an IT expert and business entrepreneur as comfortable leading a multi-million dollar IT project as managing an IT backbone for UN operations in a war zone. He returned recently from a year with Said Business School, at Oxford University, where he focused on innovative financial structures to address intractible barriers to social and environmental challenges. Tony Pavlo is a mechanic and innovator in alternative fuels for fleet operations, with experience in all aspects of auto and truck lifecycle management. Together, Tony and Steven are the perfect team to bring the spark of innovation to the small fleet market segment.</p>

        <p class="columns_2">Clear Skies exists because of a very simple conundrum: if an efficiency opportunity makes sense on paper, why doesn't it gain traction in the market? For small fleet owners, there are three key barriers. First, managing the fleet is a small aspect of the business, and an owner's time is often better spent working with customers, recruiting great staff, and keeping ahead of the curve. Optimizing fleet lifecycle costs falls "below the fold." Second, capital costs of replacing vehicles and selecting ideal power train and fuel options can be burdensome to growing businesses. Finally, real-time information and trustworthy decision-making tools are scarce. Because of these three barriers, many excellent opportunities are left behind.</p>
      </div>
      <div class="span4">
        <blockquote>
          <p>If something is worth doing, it is worth doing right</p><cite title="Source Title">Ed Sampson</cite></small>
        </blockquote>
      </div>
    </div>
    <section class="call_to_action"><img alt="responsive" src="<%= asset_path("star.png") %>">

      <h3>give your fleet management a boost</h3>
      <h4>Clear Skies is here to help.</h4>
    </section>
    <h2 class="section_header">Meet our Team...
      <small>We think you are going to enjoy working with us.</small>
    </h2>
    <div class="row">
      <div class="span3 team_member">
        <figure style="background-image: url(<%= asset_path("1b.jpg") %>)">
          <img src="<%= asset_path("1a.jpg") %>" alt="1a"></figure>
        <h5>Tony Pavlo</h5>
        <small>The Car Guy</small>
        <hr>
        <div class="team_social"><a href="#facebook"><i class="icon icon-facebook"></i></a>
          <a href="#twitter"><i class="icon icon-twitter"></i></a>
          <a href="#pinterest"><i class="icon icon-linkedin"></i></a>
          <a href="#googleplus"><i class="icon icon-google-plus"></i></a></div>
        <p class="short_bio">A lifelong mechanic and tinkerer, at just 19 Tony ran his own autobody shop. He has spent the last two years researching technologies and establishing relationships in the propane supply chain. </p>
      </div>
      <div class="span3 team_member">
        <figure style="background-image: url(<%= asset_path("steven_and_lauren.jpg") %>)">
          <img src="<%= asset_path("steven.png") %>" alt="2a"></figure>
        <h5>Steven Doll</h5>
        <small>The Numbers Guy</small>
        <hr>
        <div class="team_social">
          <a href="http://twitter.com/stevendoll"><i class="icon icon-twitter"></i></a>
          <a href="http://www.linkedin.com/in/stevendoll/"><i class="icon icon-linkedin"></i></a>
          <a href="http://twitter.com/stevendoll"><i class="icon icon-google-plus"></i></a></div>
        <p class="short_bio">Steven actually likes spreadsheets. A mechanical engineer and Oxford MBA, he has been energized by the challenge of breaking down the barriers to energy efficiency and environmental innovation.</p>
      </div>
      
    </div>
  </article>
</section>
