<% content_for(:title) { "home" } %>

<% content_for(:post_header) do %>
    <section id="slider_wrapper">
      <div id="main_flexslider" class="flexslider">
        <ul class="slides">
          <li class="item" style="background-image: url(<%= asset_path("taxis.jpg") %>)">
            <div class="container">
              <div class="carousel-caption">
                <h1><strong>fleet opportunities</strong> <br /> that improve the environment <br />and <strong>save money</strong></h1>
                <p class="lead inverse">many opportunities <strong>look great on paper</strong>. we <strong><a href="https://wrapbootstrap.com/theme/restart-clean-minimal-business-WB0NPLR53">solve</a></strong> the real-world problems <br />that help <strong> turn ideas into action</strong></p>
              </div>
            </div>
          </li>
          <li class="item" style="background-image: url(<%= asset_path("propane_station.png") %>)">
            <div class="container">
              <div class="carousel-caption">
                <h1>do  <strong>more with less...</strong><br>
                  lean projects that <strong>deliver results fast</strong></h1>

                <p class="lead inverse">industry <strong>partners</strong> committed to success in every aspect of your project</p>
              </div>
            </div>
          </li>
          <li class="item" style="background-image: url(<%= asset_path("pickup.png") %>)">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="inverse">proprietary <strong>financial structures</strong> that <br>
                  <strong>optimize your balance sheet</strong></h1>

                <p class="lead">if you are looking for
                  <a href=""><strong>a bold approach</strong></a> to maximizing your fleet efficiency,<br>
                  but even if you like
                  <a href=""><strong>a more conservative feel</strong></a>, you can always
                  try the boxed alternative!</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
<% end %>

<section class="call_to_action">
  <h3>boost your bottom line</h3>
  <h4>and make the earth a little happier</h4>
  <a class="btn btn-primary btn-large" href="https://wrapbootstrap.com/theme/rails-strap-ruby-ready-theme-WB00952P7">Calculate your savings!</a>
</section>
<section id="features_teasers_wrapper">
  <div class="row">
    <div class="span4 feature_teaser"><img alt="responsive" src="<%= asset_path("responsive.png") %>">

      <h3>Clean, Responsive Design</h3>

      <p>A multipurpose but mainly<strong> business oriented</strong> design, built to serve as a foundation for your
        web projects. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
    </div>
    <div class="span4 feature_teaser"><img alt="responsive" src="<%= asset_path("git.png") %>">

      <h3>Based on Twitter Bootstrap</h3>

      <p>The front-end development framework with a <strong>steep learning curve</strong>. It changes the way you
        develop sites. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
    </div>
    <div class="span4 feature_teaser"><img alt="responsive" src="<%= asset_path("rubyonrails.png") %>">
      <h3>Packed as a Ruby gem</h3>
      <p>{rails}<strong>strap</strong> comes packed as a gem file to help the Ruby on Rails developer save precious time. The plain HTML version <strong>is also included</strong>. Congue fermentum sed at lorem fermentum sed.</p>
    </div>
  </div>
</section>
<section id="portfolio_teasers_wrapper">
  <h2 class="section_header">Recent Work or Projects from Portfolio</h2>

  <div class="portfolio_strict row">
    <div class="portfolio_item span3">
      <div class="portfolio_photo" style="background-image:url(<%= asset_path("portfolio/a1.jpg") %>)">
        <a href=""> <i class="icon-2x icon-external-link"></i>

          <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
            fermentum...</p>
        </a></div>
      <div class="portfolio_description">
        <h3><a href="">Lorem Ipsum</a></h3>

        <p>artists</p>
      </div>
    </div>
    <div class="portfolio_item span3">
      <div class="portfolio_photo" style="background-image:url(<%= asset_path("portfolio/t5.jpg") %>)">
        <a href=""> <i class="icon-2x icon-external-link"></i>

          <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
            fermentum...</p>
        </a></div>
      <div class="portfolio_description">
        <h3><a href="">Lorem Ipsum</a></h3>

        <p>travel</p>
      </div>
    </div>
    <div class="portfolio_item span3">
      <div class="portfolio_photo" style="background-image:url(<%= asset_path("portfolio/p3.jpg") %>)">
        <a href=""> <i class="icon-2x icon-external-link"></i>

          <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
            fermentum...</p>
        </a></div>
      <div class="portfolio_description">
        <h3><a href="">Lorem Ipsum</a></h3>

        <p>people</p>
      </div>
    </div>
    <div class="portfolio_item span3">
      <div class="portfolio_photo" style="background-image:url(<%= asset_path("portfolio/t4.jpg") %>)">
        <a href=""> <i class="icon-2x icon-external-link"></i>

          <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut
            fermentum...</p>
        </a></div>
      <div class="portfolio_description">
        <h3><a href="">Lorem Ipsum</a></h3>

        <p>poetic</p>
      </div>
    </div>
  </div>
</section>