<% content_for(:title) { "home" } %>

<% content_for(:post_header) do %>
    <section id="slider_wrapper">
      <div id="main_flexslider" class="flexslider">
        <ul class="slides">
          <li class="item" style="background-image: url(<%= asset_path("taxis.jpg") %>)">
            <div class="container">
              <div class="carousel-caption">
                <h1><strong>fleet opportunities</strong> <br /> that improve the environment <br />and <strong>save money</strong></h1>
                <p class="lead inverse">many opportunities <strong>look great on paper</strong>. we <strong><%= link_to "solve", new_account_path %></strong> the real-world problems <br />that help <strong> turn ideas into action</strong></p>
              </div>
            </div>
          </li>
          <li class="item" style="background-image: url(<%= asset_path("propane_station.png") %>)">
            <div class="container">
              <div class="carousel-caption">
                <h1>do  <strong>more with less...</strong><br>
                  lean projects that <strong>deliver results fast</strong></h1>

                <p class="lead inverse">industry <strong>partners</strong> committed to success in every aspect of your project</p>
              </div>
            </div>
          </li>
          <li class="item" style="background-image: url(<%= asset_path("pickup.png") %>)">
            <div class="container">
              <div class="carousel-caption">
                <h1>proprietary <strong>financial structures</strong> that <br>
                  <strong>optimize your balance sheet</strong></h1>

                <p class="lead inverse">if you are looking for
                  <a href=""><strong>a bold approach</strong></a> to maximizing your fleet efficiency,<br>
                  or if you prefer
                  <a href=""><strong>a financially-conservative path</strong></a>, you can customize the terms of your project!</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
<% end %>

<section class="call_to_action">
  <h3>boost your bottom line</h3>
  <h4>and make the earth a little happier</h4>
  <%= link_to 'Calculate your savings!', new_account_path, :class => 'btn btn-primary btn-large' %>
</section>
<section id="features_teasers_wrapper">
  <div class="row">
    <div class="span4 feature_teaser"><img alt="clean" src="<%= asset_path("leaf.png") %>">

      <h3>Clean and Green</h3>

      <p>Propane is an <strong> excellent choice for the environment</strong>, reducing urban polution such as ground-level ozone, and lowering carbon footprint by 10%.</p>
    </div>
    <div class="span4 feature_teaser"><img alt="proven" src="<%= asset_path("proven.png") %>">

      <h3>Based on Proven Technology</h3>

      <p>Our conversion kits have lived up to the <strong>test of time</strong>, powering thousands of vehicles consuming millions of gallons of fuel.</p>
    </div>
    <div class="span4 feature_teaser"><img alt="easily-maintained" src="<%= asset_path("mechanic.png") %>">
      <h3>Your Mechanic's Friend</h3>
      <p>Propane burns <strong>cleaner than gasoline</strong> , which means that oil stays cleaner, engines last longer, and costs of routine maintenance are lower.</p>
    </div>
  </div>
</section>
