<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>Clear Skies - <%= yield(:title) %></title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--[if IE 7]>
    <%= stylesheet_link_tag "font-awesome-ie7.min" %>
  <![endif]-->
  <!-- Fav and touch icons -->
  <%= javascript_include_tag "rails_strap_modernizer"  %>
  <%= csrf_meta_tags %>
  <%=  yield(:head) %>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="favicon.png">
</head>
<body class="<%= yield(:body_class) %>">
<header>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner"> <a class="brand" href="<%= root_path %>">  <img src="<%= asset_path("clearskies_logo_horizontal_small.png") %>" width="250" height="120" alt="clear skies fleet solutions" padding="20"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="nb_left pull-left"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></span>  <span class="nb_right pull-right">menu</span> </a>
        <div class="nav-collapse collapse">
          <%= render 'layouts/navigation' %>
        </div>
      </div>
    </div>
    <div id="social_media_wrapper"> <a href="http://linkedin.com/in/stevendoll"><i class="icon icon-linkedin"></i></a> <a href="http://twitter.com/stevendoll"><i class="icon icon-twitter"></i></a> <a href="mailto:steven@clearskies.co"><i class="icon icon-google-plus"></i></a> </div>
    <div id="sign">
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path do %>
          <i class="icon icon-user"></i>Account
        <% end %>&nbsp;&nbsp;
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <i class="icon icon-user"></i>Sign up
        <% end %>&nbsp;&nbsp;
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </div>
</header>
<%= yield(:post_header) %>
<div id="main">
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  <footer>
    <section id="footer_teasers_wrapper">
      <div class="container">
        <div class="row">
          <div class="span4 footer_teaser">
            <h3>About us</h3>
            <p>Clear Skies is here to help.</p>
            <p><i class="icon-map-marker"></i> Silver Spring MD 20905</p>
            <p><i class="icon-phone"></i> (202) 386-0190</p>
            <p><i class="icon-envelope"></i> steven@clearskies.co</p>
          </div>
          <div class="span4 footer_teaser">
            <h3>Latest News</h3>
            <%= render 'posts/latest' %>
          </div>
          <div class="span4 footer_teaser" id="latest-flickr-images">
            <h3>FlickrFeed</h3>
            <ul>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="span6"> Copyright &copy;2013 all rights reserved </div>
          <div class="span6 text-right">
            Website by <a href="http://kichocheo.com">Kichocheo</a> with Ruby on Rails
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
