<div class="row pricing_wrapper">
  <div class="span4">
    <div class="pricing_plan">
      <h3>Test<strong>Drive</strong> <small>Try it out yourself</small></h3>
      <div class="the_price"><span>$</span>1,000<small></small></div>
      <div class="the_offerings">
        <p> <strong>2</strong> Vehicles </p>
        <p> <strong>30</strong> Days </p>
        <p> <strong>Unlimited</strong> Fuel </p>
      </div>
      <a href="#" class="btn btn-primary btn-large">Get it Now!</a> </div>
  </div>
  <div class="span4">
    <div class="pricing_plan special">
      <h3>Turn<strong>Key</strong> <small>Leave the work to us</small></h3>
      <div class="the_price">
        <span>$</span><%= number_with_precision(fleet.miles_per_year / fleet.mileage / 0.86 * 0.11 * fleet.quantity, :precision => 3, :significant => true, :delimiter => ",") %><small> Royalties per year!</small>
      </div>
      <div class="the_offerings">
        <p> <strong><%= fleet.quantity %></strong> Vehicles </p>
        <p> <strong>1</strong> Fueling Station </p>
      </div>
      <a href="#" class="btn btn-primary btn-large">Get it Now!</a> </div>
  </div>
  <div class="span4">
    <div class="pricing_plan">
      <h3>Pro<strong>Plan</strong> <small>Maximize your savings</small></h3>
      <div class="the_price"><span>$</span><%= number_with_precision(fleet.quantity * 3500 + 5000.0, :precision => 3, :significant => true, :delimiter => ",") %><small></small></div>
      <div class="the_offerings">
        <p> <strong><%= fleet.quantity %></strong> Vehicles </p>
        <p> <strong>1</strong> Fueling Station </p>
        <p> <strong>$<%= number_with_precision(fleet.miles_per_year / fleet.mileage / 0.86 * 1.00 * fleet.quantity, :precision => 3, :significant => true, :delimiter => ",") %></strong> Savings per year </p>
      </div>
      <a href="#" class="btn btn-primary btn-large">Get it Now!</a> </div>
  </div>
</div>