<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Fuel royalties</th>
      <th>Fuel price</th>
      <th>Annual management charge</th>
      <th>Conversion margin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.address_1 %></td>
        <td><%= account.address_2 %></td>
        <td><%= account.city %></td>
        <td><%= account.state %></td>
        <td><%= account.zip %></td>
        <td><%= account.fuel_royalties %></td>
        <td><%= account.fuel_price %></td>
        <td><%= account.annual_management_charge %></td>
        <td><%= account.conversion_margin %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
