<% content_for(:title) { "Accounts" } %>

  <div class="hgroup">
    <h1>Accounts</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Accounts</li>
    </ul>
  </div>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Vehicles</th>
      <th>Turnkey</th>
      <th>Pro</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.total_vehicles %></td>
        <td>$<%= number_with_precision(account.proposed_turnkey_royalties + account.proposed_company_turnkey_savings, :precision => 3, :significant => true, :delimiter => ",") %></td>
        <td>$<%= number_with_precision(account.proposed_royalties + account.proposed_company_savings, :precision => 3, :significant => true, :delimiter => ",") %></td>
        <td><%= link_to 'Show', account, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_account_path(account), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
