<% content_for(:title) { "Account Dashboard" } %>

  <div class="hgroup">
    <h1><%= @account.name %> Dashboard</h1>
    <h2>Let's get started...</h2>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Vehicles</li>
    </ul>
  </div>


   <table class="table table-condensed">
    <thead>
      <tr>
      <th>Quantity</th>
      <th>Vehicles</th>
      <th>Miles</th>
      <th>Lifetime miles</th>
      <th>Mileage</th>
      <th>Miles per year</th>
      <th>Maintenance per mile</th>
      <th>Pays for fuel</th>
      <th>Pays for maintenance</th>
      <th>Percent propane</th>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>

<% @account.fleets.each do |fleet| %>
      <tr>
        <td><%= fleet.quantity %> <%= @vehicles %></td>
        <td><%= fleet.name %></td>
        <td><%= fleet.miles %></td>
        <td><%= fleet.lifetime_miles %></td>
        <td><%= fleet.mileage %></td>
        <td><%= fleet.miles_per_year %></td>
        <td><%= fleet.maintenance_per_mile %></td>
        <td><%= fleet.pays_for_fuel %></td>
        <td><%= fleet.pays_for_maintenance %></td>
        <td><%= fleet.percent_propane %></td>
        <td><%= link_to 'Edit', [fleet.account, fleet] %></td>
        <td><%= link_to 'Destroy', [fleet.account, fleet], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %></td>
      </tr>
<% end %>
</table>

<div class="row pricing_wrapper">
  <div class="span4">
    <div class="pricing_plan">
      <h3>Test<strong>Drive</strong> <small>Try it out yourself</small></h3>
      <div class="the_price"><span>$</span>1,000<small></small></div>
      <div class="the_offerings">
        <p> <strong>2</strong> Vehicles </p>
        <p> <strong>30</strong> Days </p>
        <p> <strong>Unlimited</strong> Fuel </p>
      </div>
      <a href="#" class="btn btn-primary btn-large">Get it Now!</a> </div>
  </div>
  <div class="span4">
    <div class="pricing_plan special">
      <h3>Turn<strong>Key</strong> <small>Leave the work to us</small></h3>
      <div class="the_price">
        <span>$</span><%= number_with_precision(@account.proposed_turnkey_royalties, :precision => 3, :significant => true, :delimiter => ",") %><small> Royalties per year!</small>
      </div>
      <div class="the_offerings">
        <p> <strong><%= @account.total_vehicles %></strong> Vehicles </p>
        <p> <strong>1</strong> Fueling Station </p>
        <p> <strong>$<%= number_with_precision(@account.proposed_savings, :precision => 3, :significant => true, :delimiter => ",") %></strong> Driver savings per year </p>
        <p> <strong>No upfront cost!</strong></p>
      </div>
      <a href="#" class="btn btn-primary btn-large">Get it Now!</a> </div>
  </div>
  <div class="span4">
    <div class="pricing_plan">
      <h3>Pro<strong>Plan</strong> <small>Maximize your savings</small></h3>
      <div class="the_price"><span>$</span><%= number_with_precision(@account.proposed_royalties, :precision => 3, :significant => true, :delimiter => ",") %><small> Royalties per year!</small></div>
      <div class="the_offerings">
        <p> <strong><%= @account.total_vehicles %></strong> Vehicles </p>
        <p> <strong>1</strong> Fueling Station </p>
        <p> <strong>$<%= number_with_precision(@account.proposed_savings, :precision => 3, :significant => true, :delimiter => ",") %></strong> Driver savings per year </p>
        <p> <strong>$<%= number_with_precision(@account.conversion_charges, :precision => 3, :significant => true, :delimiter => ",") %></strong> Conversion costs
      </div>
      <a href="#" class="btn btn-primary btn-large">Get it Now!</a> </div>
  </div>
</div>


<h2>Add a vehicle group:</h2>
<%= simple_form_for([@account, @account.fleets.build]) do |f| %>
<%= f.error_notification %>
  <p>
    <%= f.input :quantity %>
    <%= f.association :vehicle_type %>
    <%= f.input :miles_per_year %>
    <%= f.input :pays_for_fuel, as: :radio_buttons, collection: [ "Company", "Driver"] %>
    <%= f.input :pays_for_maintenance, as: :radio_buttons, collection: [ "Company", "Driver"] %>
    <%= f.input :percent_propane %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Team</h2>
<% @account.users.each do |user| %>
  <p>
    <%= user.first_name %> <%= user.last_name %>  <%= user.email %>
  </p>
 <% end %>

 <p>
  <%= link_to 'Edit', edit_account_path(@account) %>
</p>



